.tarjeta-alumno {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 4px;
	flex: 1 1 calc(33% - 20px);
	box-sizing: border-box;
	transition: transform 0.3s ease-in-out;
}
.tarjeta-alumno:hover {
	transform: translateY(5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.tarjeta-alumno h1,
.tarjeta-alumno h3,
.tarjeta-alumno h4 {
	color: #333;
	margin: 5px 0;
}

#contenedor-alumnos {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-around;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	text-align: center;
}

form {
	border: 1px solid #ccc;
	padding: 20px;
	width: 100%;
	max-width: 400px;
	background-color: #f9f9f9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type='text'],
select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	background-color: #414bd4;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #414bd4;
}

@media (max-width: 600px) {
	form {
		width: 90%;
	}
}
